.navbar {
    padding-left: 12px;
    padding-right: 12px;
}

ul.navbar-nav a {
    text-decoration: none;
    margin: 5px 10px 5px 0;
    color: #e0e0e0;
}

ul.navbar-nav a:hover {
    color: lightblue;
}