.statistic-card {
    margin-bottom: 16px;
}

.card-action {
    margin-top: 16px;
}

.card-action.secondary:not(:disabled) {
    color: #1677ff;
    border-color: #1677ff;
}

.stat-link {
    text-decoration: none !important;
}

.loader {
    justify-content: center;
    display: flex;
    margin-top: 24px;
}
