.statistic-card {
    margin-bottom: 16px;
}

.card-action {
    margin-top: 16px;
}

.stat-link {
    text-decoration: none !important;
}

.loader {
    justify-content: center;
    display: flex;
    margin-top: 24px;
}
