.login-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card {
    border: 1px solid #dadce0;
    transform: translateY(-20%);
    border-radius: 8px;
}

.login-card .ant-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 720px) {
    .login-card {
        border: none;
    }
}

.form {
    height: 300px;
}

.field {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 300px;
    max-width: 100%;
}

.field-input {
    width: 100%;
    margin-bottom: 8px;
}

.label {
    font-weight: 500;
    margin-bottom: 4px;
}

.error-message {
    color: #ff4d4f;
    font-size: 14px;
}
